In [ ]:
#indentation
if True:
   print("this is my second class of Python Language")

#comments
# if True:   ctrl+/
  #print("this is my second class of Python Language")

this is my second class of Python Language

In [ ]:
#variables and constants
name = "Aakanksha" #single or double quotation is fine
age = 21

PI= 3.14159 #constant

print("my name is" ,name)
print("my age is " ,age)
print (PI)

my name is Aakanksha
my age is  21
3.14159

In [ ]:
#input and output functions
name= input("enter your name: ") #ip fn
print("my name is", name) #op fn

print(type(name)) #datatype

enter your name: aakanksha
my name is aakanksha
<class 'str'>

In [ ]:
#primitive data types
x = 10
y= 10.01
z= 4 + 3j
print("the real number is" ,z.real)
print("the imaginary number is" ,z.imag)

the real number is 4.0
the imaginary number is 3.0

In [ ]:
#string

sentence= "this is my second class of python language"
print("first letter:" , sentence[27])
print("first letter:" , sentence[-15]) #right to left

greeting = "python" + "language"
print(greeting)

repeat = " Python "  *  10
print(repeat)

#slice string
print("#sliced string : ", sentence[0:23])

#upper or lowercase
print("lower case",sentence.lower())
print("upper case",sentence.upper())

print("replace", sentence.replace("python", "C++"))

first letter: p
first letter: p
pythonlanguage
 Python  Python  Python  Python  Python  Python  Python  Python  Python  Python
#sliced string :  this is my second class
lower case this is my second class of python language
upper case THIS IS MY SECOND CLASS OF PYTHON LANGUAGE
replace this is my second class of C++ language

In [ ]:
#collect data types
#list
numbers= [1,2,3,4,5]
numbers.append(6)
print(numbers)

#list slicing
print(numbers[0:3]) #0,1,2 indices 3-1=2

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
#tuples
numbers= (1,2,3,4,5)
print(numbers)

(1, 2, 3, 4, 5)

In [ ]:
#sets
numbers= {1,2,3,4,5}
numbers.add(6) # new can be added
numbers.add(5) #duplicates are not allowed!

print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
#dictionary

#dictionary

student = {"name" : "Aakanksha"} #key: value (pair)

student["name"] = "Alina"  # Assign the string "Alina" to the key "name"
print(student)

{'name': 'Alina'}

In [ ]:
#implicit conv
num1 = 10
num2= 10.01
result= num1+num2
print (result)
print(type(result))

20.009999999999998
<class 'float'>

In [ ]:
#explicit conversion
age = "25"
print(type(age))
integer = 10
age = int(age)
#integer = str(integer)

result= age+integer
print(result)

<class 'str'>
35

In [ ]:
#operators
#arithematic operators

num1= 10
num2= 4

print("addition", num1 + num2)
print("subtraction", num1 - num2)
print("multiplication", num1 * num2)
print("division", num1 / num2)
print("floor division", num1 // num2)
print("modulus", num1 % num2)
print("exponent", num1 ** num2)

addition 14
subtraction 6
multiplication 40
division 2.5
floor division 2
modulus 2
exponent 10000

In [ ]:
#comparision operation

num1= 10
num2= 4

print("equal", num1 +num2)
print("not equal", num1 != num2)
print("greater than", num1 > num2)
print("less than", num1 < num2)

equal 14
not equal True
greater than True
less than False

In [ ]:
#logical operators
p = True
q= False

print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

AND False
OR True
NOT False

In [ ]:
#assignment operators
a=10
a+=5 #a= a+5
a-=5 #a= a-5
a*=5 #a= a*5
a/=5 #a= a/5
print(a)

10.0

In [ ]:
#length function
sentence = "this is my second class of python language" #total length with spaces
print(len(sentence))

42

In [ ]:
#split function
sentence = "this is my second, class of python language"
words = sentence.split(" ,")
print(words)

['this is my second, class of python language']
['this is my second', ' class of python language']

In [ ]:
#random function
import random
number = random.randint(1,10) # 1, 10  also included
print(number)

print(random.random()) #btw 0 and 1

items = ["apple", "banana", "orange"]
random.shuffle(items)
print(items)

print(random.choice(items))

5
0.8477287655324656
['apple', 'banana', 'orange']
banana